@import "base/colors";

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
) !default;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.title-header {
  font-size: 2rem;
}

.theme-radio {
  width: 4rem !important;
  height: 2rem;
  margin-right: 25px;
}

.form-check-label {
  margin-top: 2px;
  font-size: 1.5rem;
}

.dark-theme {

  .section-2 {
    img {
      border-color: white !important;
    }
  }

  section:nth-child(1) {
    background-color: #343a40;
    color: #fff;
  }

  section:nth-child(2) {
    background-color: #495057 !important;
    color: #fff;
  }

  section:nth-child(3) {
    background-color: #343a40;
    color: #fff;
  }

}
